<template name="adminDashboard">
	{{#if isAdmin}}
		{{> sendInvitationModal}}
	
		<h4 class="page-header">Users</h4>
		<p>There are {{getPublishedCount 'users'}} users, {{teamCount}} teams, and {{divisionCount}} divisions.</p>
		<div class="col-sm-9">
			<input type="text" name="searchbar" class="search-bar fa form-control" placeholder="&#xF002;    Search Users" />
			<br>
			<br>
		</div>
		<div class="col-sm-3 text-center">
			<button class="btn btn-success" data-toggle="modal" data-target="#send-invitation-modal">Add Member</button>
			<br>
			<br>
		</div>
	<div class="col-xs-12">
			
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">Users</a></li>
				<li><a data-toggle="tab" href="#menu1" class="no-print">Wins</a></li>
				<li><a data-toggle="tab" href="#menu2" class="no-print">Break and Runs</a></li>
				<li><a data-toggle="tab" href="#menu3" class="no-print">8-Ball Breaks</a></li>
				<li><a data-toggle="tab" href="#menu4" class="no-print">9-Ball Breaks</a></li>
			</ul>

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<br>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Email Address</th>
								<th class="text-center">Role</th>
								<th width="96"></th>
							</tr>
						</thead>
						<tbody>
							{{#each users}}
								<tr>
									<td class="text-left text-middle">{{emails.[0].address}}{{#if belongsToYou}}<label class="btn btn-sm btn-warning pull-right">You!</label>{{/if}}</td>
									<td>
										<select name="userRole" id="userRole" class="form-control">
											<option {{isSelected "Admin" profile.role}} value="Admin">Admin</option>
											<option {{isSelected "Member" profile.role}} value="Member">Member</option>
										</select>
									</td>
									<td>
										<button class="btn btn-info" data-toggle="modal" data-target="#edit-user-modal{{_id}}"><i class="fa fa-pencil"></i></button>
										<button class="delete-user btn btn-danger"><i class="fa fa-times"></i></button>
									</td>
								</tr>
								{{> editUserModal}}
							{{/each}}
						</tbody>
					</table>
				</div>
				<div id="menu1" class="tab-pane fade">
					<br>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Wins</th>
								<th>BR</th>
								<th>8-Ball Breaks</th>
								<th>9-Ball Breaks</th>
							</tr>
						</thead>
						<tbody>
						{{#each usersGamesWon}}
							<tr>
								<td>{{indexer @index}}</td>
								<td>{{profile.name}}</td>
								<td>{{profile.gamesWon}}</td>
								<td>{{profile.breakAndRuns}}</td>
								<td>{{profile.eightBallBreaks}}</td>
								<td>{{profile.nineBallBreaks}}</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
				<div id="menu2" class="tab-pane fade">
					<br>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Wins</th>
								<th>BR</th>
								<th>8-Ball Breaks</th>
								<th>9-Ball Breaks</th>
							</tr>
						</thead>
						<tbody>
						{{#each usersBreakAndRun}}
							<tr>
								<td>{{indexer @index}}</td>
								<td>{{profile.name}}</td>
								<td>{{profile.gamesWon}}</td>
								<td>{{profile.breakAndRuns}}</td>
								<td>{{profile.eightBallBreaks}}</td>
								<td>{{profile.nineBallBreaks}}</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
				<div id="menu3" class="tab-pane fade">
					<br>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Wins</th>
								<th>BR</th>
								<th>8-Ball Breaks</th>
								<th>9-Ball Breaks</th>
							</tr>
						</thead>
						<tbody>
						{{#each usersEightBall}}
							<tr>
								<td>{{indexer @index}}</td>
								<td>{{profile.name}}</td>
								<td>{{profile.gamesWon}}</td>
								<td>{{profile.breakAndRuns}}</td>
								<td>{{profile.eightBallBreaks}}</td>
								<td>{{profile.nineBallBreaks}}</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
				<div id="menu4" class="tab-pane fade">
					<br>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Wins</th>
								<th>BR</th>
								<th>8-Ball Breaks</th>
								<th>9-Ball Breaks</th>
							</tr>
						</thead>
						<tbody>
						{{#each usersNineBall}}
							<tr>
								<td>{{indexer @index}}</td>
								<td>{{profile.name}}</td>
								<td>{{profile.gamesWon}}</td>
								<td>{{profile.breakAndRuns}}</td>
								<td>{{profile.eightBallBreaks}}</td>
								<td>{{profile.nineBallBreaks}}</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{{#if userLimitReached}}
			<div class="col-xs-12 text-center">
				<button class="btn btn-primary load-more">Load More</button>
			</div>
		{{/if}}
	{{/if}}
</template>