<template name="teamPage">
	{{#if currentUser}}
	<div class="col-xs-12">
		<div class="col-sm-10">
			<h1>{{title}}</h1>
		</div>
		<div class="col-sm-2 text-center">
			<h1>{{memberCount}}/8</h1>
		</div>
		<div class="col-xs-12">
			<hr>
		</div>
		<div class="col-sm-6">
			<h1>Hot Spot Information</h1>
			<h4>{{hotspotAddress}}</h4>
			<h4>{{hotspotCity}}, {{hotspotState}}, {{hotspotZipcode}}</h4>
			<h4>{{hotspotCountry}}</h4>
			<h4>{{hotspotPhone}}</h4>
		</div>
		<div class="col-sm-6">
			{{#markdown}}{{body}}{{/markdown}}
		</div>
		<div class="col-xs-12">
			<hr>
		</div>
		<div class="col-sm-4 text-center">
			<h3>Captain:</h3>
			{{#each members}}
				{{#if isCaptain}}
				<div class="col-sm-12" id="{{_id}}">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							<h4>{{name}}</h4>
						</div>
						<div class="panel-body text-center">
							{{#if isCaptain}}
								<button class="btn btn-warning">
									<h4><i class="fa fa-star-o"></i></h4>
									<h4>Captain</h4>
								</button>
							{{else}}
								<button class="btn btn-info btn-sm promote-member">Promote to Captain</button>
							{{/if}}
							<h4>Skill Level</h4>
							<h4>{{skillLevel}}</h4>
						</div>
						<div class="panel-footer text-center">
							{{#if isAdmin}}
							<button class="btn btn-danger btn-sm remove-member">Remove Member</button>
							{{/if}}
						</div>
					</div>
				</div>
				{{/if}}
			{{/each}}
		</div>
		<div class="col-sm-8 text-center">
			<h3>Members:</h3>
			{{#each members}}
				<div class="col-sm-4" id="{{_id}}">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							<h4>{{name}}</h4>
						</div>
						<div class="panel-body text-center">
							{{#if isCaptain}}
							
							{{else}}
								{{#if isAdmin}}
								<button class="btn btn-info btn-sm promote-member">Promote to Captain</button>
								{{/if}}
							{{/if}}
							<h4>Skill Level</h4>
							<h4>{{skillLevel}}</h4>
						</div>
						<div class="panel-footer text-center">
							{{#if isAdmin}}
							<button class="btn btn-danger btn-sm remove-member">Remove Member</button>
							{{/if}}
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#if isAdmin}}
		<div class="col-xs-12 text-center">
			<button class="btn btn-success" data-toggle="modal" data-target="#edit-team-modal">Add Member</button>
			<br>
			<br>
		</div>
		{{/if}}
		<div class="col-xs-12">
			<hr>
		</div>
		<!--
		<div class="col-xs-12 text-center">
			<h4>Divisions</h4>
			{{#each divisions}}
			<div class="col-xs-4">
				<div class="panel panel-default">
					<h4>{{this}}</h4>
				</div>
			</div>
			{{/each}}
		</div>
		-->
		<div class="col-xs-12 well">
			{{#if itemBelongsToYou}}
				<div class="btn-group pull-right">
					<a href="{{pathFor 'teamEditPage'}}"><button class="btn btn-warning edit-article">Edit</button></a>
					<a href="#"><button class="btn btn-danger delete-team">Delete</button></a>
				</div>
			{{/if}}
		</div>
		{{> editTeamModal}}
	</div>
	{{else}}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Please log in to the view page.</h1>
			</div>
		</div>
	</div>
	{{/if}}
</template>